<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <% if @success_message %>
        <div class="alert alert-success text-center"><%= @success_message %></div>
      <% end %>
      <% if @error_message %>
        <div class="alert alert-danger text-center"><%= @error_message %></div>
      <% end %>
      <div class="card shadow-lg">
        <div class="card-header bg-warning text-dark text-center">
          <h5>Reset Password for <%#= @user.name || @user.email %></h5>
        </div>
        <div class="card-body">
          <%= form_with url: admin_user_update_password_path(@user.id), method: :patch, local: true do %>
            <div class="mb-3">
              <%= label_tag :new_password, "New Password" %>
              <%= password_field_tag "user[new_password]", nil, class: "form-control", required: true %>
            </div>
            <div class="mb-3">
              <%= label_tag :password_confirmation, "Confirm Password" %>
              <%= password_field_tag "user[password_confirmation]", nil, class: "form-control", required: true %>
            </div>
            <div class="d-flex justify-content-end">
              <%= submit_tag "Update Password", class: "btn btn-warning" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>